<div class="mt-4">
    <h3>
        Cập nhật Bài giảng {{slug_c}}
    </h3>

    <form method="POST" action="/courses/{{slug_c}}/{{lesson._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên Khóa Học</label>
            <input type="text" class="form-control" value="{{lesson.name}}" id="name" name="name">

        </div>
        <div class="form-group">
            <label for="description">Mô tả</label>
            <textarea  class="form-control"  id="description" name="description">{{lesson.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="videoID">Video ID</label>
            <input type="text" class="form-control" value="{{lesson.videoID}}" id="videoID" name="videoID">

        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>