<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bài Kiểm Tra Trắc Nghiệm</title>
</head>
<body>
  <a href="/exam/create">Tạo câu hỏi</a>
  <h1>Bài Kiểm Tra Trắc Nghiệm</h1>

  <form id="quiz-form">
    {{#each questions}}
      <div>
        <p>{{this.text}}</p>
        <label><input type="radio" name="question{{@index}}" value="a" class="choice"> {{this.options.[0]}}</label><br>
        <label><input type="radio" name="question{{@index}}" value="b" class="choice"> {{this.options.[1]}}</label><br>
        <label><input type="radio" name="question{{@index}}" value="c" class="choice"> {{this.options.[2]}}</label><br>
        <label><input type="radio" name="question{{@index}}" value="d" class="choice"> {{this.options.[3]}}</label><br>
      </div>
    {{/each}}

    <button type="button" onclick="showResults()">Nộp bài</button>
  </form>

</body>
</html>
