{{!-- view.hbs --}}
<div class="mt-4">
    <div>
        <a href="{{slug_c}}/create-lesson" class="btn btn-primary">Thêm bài giảng</a>
    </div>


    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">TT</th>
                <th scope="col">Tên Bài học</th>
                <th>Test</th>
                <th scope="col">Mô tả</th>
                <th scope="col" colspan="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody>
            {{#each lessons}}

            <tr>
                <th scope="row">{{sum @index 1}}</th>
                {{!-- <th scope="row">1</th> --}}
                <td>
                  <a href="/courses/{{../slug_c}}/{{this._id}}/view">{{this.name}}</a>
                </td>
                <td>{{this.courseID}}</td>
                <td>{{this.description}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{../slug_c}}/{{this._id}}/edit-lesson" class="btn btn-link">Sửa3</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-lesson-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đăng khóa học nào.
                <a href="/courses/create">Đăng khóa học</a>
              </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


{{!-- Confirm delete lesson --}}
<div id="delete-lesson-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa Bài giảng?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa Bài giảng này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button id="btn-delete-lesson" type="button" class="btn btn-danger">Xóa bỏ</button>
        
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-lesson-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var lessonId;
        var deleteForm = document.forms['delete-lesson-form'];
        var btnDeleteLesson = document.getElementById('btn-delete-lesson');

        // When dialog confirm clicked
        $('#delete-lesson-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            lessonId = button.data('id');
            console.log(lessonId);
            
        });

        console.log(btnDeleteLesson);

        // When delete lesson btn clicked
        btnDeleteLesson.onclick=function(){
          deleteForm.action= '/courses/lesson/' + lessonId + '?_method=DELETE';
          deleteForm.submit();
        }

    });
</script>